@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unknown error";
}

<div class="page-error centered">
    <div class="error-symbol"> <i class="fa-warning"></i> </div>
    <h2>
        Error
    </h2>
    <p>Ooops.. <strong>Internal Server Error</strong>!</p>
</div>

