@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<div class="page-error centered">
    <div class="error-symbol"> <i class="fa-warning"></i> </div>
    <h2>
        Locked out.
    </h2>
    <p>This account has been locked out, please try again later.</p>
</div>